*{
    margin: 0;
}

.body-index{
    background-color: black;
}

/* NAVBAR */

.navbar {
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.41) 100%);
    position: fixed;
    width: 100%;
    z-index: 2;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
}
.nav-links li a:hover {
  color: black;
}

.burger-menu {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.button-sign_up {
    border-radius: 10px;
    border: 4px solid #000;
    background: #FF9800;
    height: 40px;
    width: 100px;
}

/* RESPONSIVE-NAVBAR */

@media (max-width: 980px) {
    .nav-links {
        display: none;
    }
    .nav-links li {
        margin: 10px;
    }
    .burger-menu {
        display: block;
        margin-left: -23px;
        color: white;

    }
    .logo1{
        width: 250px;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 66px;
        padding-left: 0;
        background-color: #000000;
        align-items: center;
        z-index: 999;
    }
    .navbar-container .button-sign_up{
      margin: auto auto 6px auto;
    }
}

/* <!-- TITLE-HOME --> */
.top-home{
    background-image: url(img/p2.jpg);
    background-size: cover;
    width: 100%;
    height: 600px;
}

.t-home{
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 50px;
}

@media (max-width: 980px){
    .t-home{
        font-size: 300%;
    }
    .top-home{
        background-position: center;
    }
}

.home-title{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    height: 110vh;
    margin: auto;
    text-align: center;
    text-shadow: 4px 4px 4px black;
}

.subscribe{
    border-radius: 30px;
    border: 2px solid #000;
    background: #FF9800;
    height: 50px;
    width: 150px;
    color: white;
    font-size: 24px;
}

/* RESPONSIVE BOTTON SUBSCRIBE */

@media (max-width: 980px){
    .subscribe{
        width: 140px;
        height: 40px;
    }
}

.home-title button{
    box-shadow: 0px 0px 30px 10px #000;
}

/* SUBSCRIBE-HOME */

.title-sub{
    color: #FF9800;
    font-family: cursive;
    text-align: center;
    margin: 40px 0;
    
}

            /* CARDS */
.cards{
    display: flex;
    justify-content: space-around;
}
            
@media(max-width: 980px){
    .cards{
        flex-direction: column;
        align-items: center;
    }
    .card{
        margin-bottom: 20px;
    }
}

/* THE FRONT CARD */
.image-card1{
    background-image: url(img/1.jpg);
    background-size: cover;
    background-position: center;
    width: 289px;
    height: 366px;
    border-radius: 10px;
}

.image-card2{
    background-image: url(img/2.jpg);
    background-size: cover;
    background-position: center;
    width: 289px;
    height: 366px;
    border-radius: 10px;
}

.image-card3{
    background-image: url(img/p6.jpg);
    background-size: cover;
    background-position: center;
    width: 289px;
    height: 366px;
    border-radius: 10px;
}

.card-title {
    margin-top: -366px;
    width: 289px;
    height: 496px;
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(255, 152, 0, 0.00) 44.96%, #FF9800 73.01%, #FF9800 99.96%);
    display: flex;
    justify-content: center;
    align-items: end;
    color: white;
    font-family: cursive;
    font-size: 48px;
}

/* THEBACKCARD */

.theback{
    width: 289px;
    height: 496px;
    border-radius: 10px;
    background-color: black;
    color: #FF9800;
    font-family: cursive;
}

.content-back_card h3{
    text-align: center;
}

/* ROTATION CARD */

.card{
    width: 289px;
    height: 496px;
    /* position: absolute; */
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}

.card:hover{
    transform: rotateY(180deg);
}

.thefront{
    /* position: absolute; */
    backface-visibility: hidden;
}
.theback{
    /* position: absolute; */
    margin-top: -496px;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

  /* SOCIAL MEDIA */

.social-media{
    background: white;
    width: 100%;
    height: 250px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-sm{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.title-sm {
    font-size: 25px;
}

.desc-sm{
    font-size: 20px;
}

.border{
    border: solid 2px #000;
    width: 100px;
}

.banner-links a{
    color: rgb(0, 0, 0);
    font-size: 2rem;
    padding: 0 20px;
}

.icon-sm{
    margin-top: 50px;
}

    /* FOOTER */

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    background-color: black;
    width: 100%;
}

.logo-footer{
    background-image: url(img/logo2.PNG);
    background-size: cover;
    background-position: center;
    width: 300px;
    height: 200px;
}

/* STORE */

 /* TOP-STORE */

.title-store{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    align-items: center;
    text-align: center;
    font-family: cursive;
}

.title-store1{
    font-size: 45px;
    font-weight: 500;
    color: #FF9800;
    margin-top: 40px;
    margin-bottom: 40px;
}

.desc-store{
    font-size: 15px;
}

    /* STORE-FILTRE */

.store-filtre{
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.filtre , .filtre1, .filtre2{
    border-radius: 10px;
    border: 2px solid #000;
    height: 35px;
    width: max-content;
    color: black;
    font-size: 20px;
    margin: 0 30px;
}

.filtre{
    background: #FF9800;
}

 /* OBJECT-STORE */

.object-store{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-top: 50px; */
    margin-bottom: 50px;
}
 
 .object-store img{
    width: 300px;
    height: 300px;
    border-radius: 10px 10px 0 0;
 }

 .object-store p{
    font-family: cursive;
    font-size: 18px;
 }

 .game1{
    border-radius: 10px;
    margin: 20px 40px;
    box-shadow: 2px 2px 20px 4px rgba(0,0,0,0.75);
    display: flex;
    flex-direction: column;
    align-items: center;
}